.auth-block {
  width: 300px;

  .auth-control {
    display: flex;
    justify-content: center;

    margin-bottom: 15px;
  }

  .auth-btn-submit {
    height: 34px;
    width: 80px;

    margin-top: 15px;
  }

  .auth-btn-container {
    display: flex;
    justify-content: center;
  }
}