<div class="auth-block">
  <form [formGroup]="form">
    <div class="auth-control">
      <label>Email:</label>
      <input type="text" placeholder="Email" formControlName="email">
      <div class="validation"></div>
    </div>

    <div class="auth-control">
      <label>Password:</label>
      <input type="password" placeholder="Пароль" formControlName="password">
      <div class="validation"></div>
    </div>
    <button class="auth-btn-submit" type="submit" (click)="onLogin()">Submit</button>
  </form>
</div>
