<div class="accordion-container">
  <cdk-accordion *ngIf="show$ | ngrxPush" class="accordion">
    <cdk-accordion-item
      *ngFor="let item of accordionItem$ | async; let index = index;"
      #accordionItem="cdkAccordionItem"
      class="accordion-item"
      role="button"
      tabindex="0"
      [attr.id]="'accordion-header-' + index"
      [attr.aria-expanded]="accordionItem.expanded"
      [attr.aria-controls]="'accordion-body-' + index">
      <div class="accordion-item-header">
        <div class="accordion-item-name">{{ item }}</div>
        <div>
          <mat-icon class="accordion-item-icon" (click)="accordionItem.toggle()">tune</mat-icon>
          <mat-icon class="accordion-item-icon" (click)="onClose()">close</mat-icon>
        </div>
      </div>
      <div
      *ngrxLet="accordionData$ as ac"
        class="accordion-item-body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index">
        <div>Style: {{ac?.borderStyle}}</div>
        <div>Width: {{ac?.width}}</div>
        <div>Height: {{ac?.height}}</div>
        <div>TextAlign: {{ac?.placeholderText}}</div>
        <div></div>
      </div>
    </cdk-accordion-item>
  </cdk-accordion>
</div>

