<ul class="form-builder-container" cdkDropList (cdkDropListDropped)="onDrop($event)" [cdkDropListData]="formBuilder$ | async">
  <li *ngFor="let item of formBuilder$ | ngrxPush" cdkDrag>
    <div class="form-builder-element">
        <div #div appLoaded (loaded)="onLoaded($event)"></div>
      <div>
        <mat-icon class="form-builder-icon" (click)="onShow(item.id)">
          settings
        </mat-icon>
        <mat-icon class="form-builder-icon" (click)="onDelete(item.id)">delete</mat-icon>
      </div>
    </div>
  </li>
</ul>
